@{
	Bundles.Reference("~/Content/css/Shared/global.css");
	Bundles.Reference("~/Content/js/Shared/global.js");
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>
		@if (IsSectionDefined("Title")) {
			@RenderSection("Title", false)
			<text> :: KickstartTemplate</text>
		} else {
			<text>KickstartTemplate</text>
		}
	</title>
	@RenderSection("Meta", false)
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="@Url.Image("~/content/images/favicon.png")" />
	@Bundles.RenderStylesheets()
	@Bundles.RenderScripts("head")
</head>
<body>
	@Html.Action("Menu", "Home", new { Area = "Admin" }, true)
	<header class="navbar navbar-default navbar-static-top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="@Url.Home().Index()" class="navbar-brand">KickstartTemplate</a>
			</div>
			<nav class="collapse navbar-collapse navbar-collapse" role="navigation">
				@Html.Action("Menu", "Home", new { Nav = ViewBag.Nav ?? Navigation.None, Area = "" }, true)
			</nav>
		</div>
	</header>
	<main class="container" role="main">
		@Html.Action("Notification", "Home", new { Area = "" }, true)
		@RenderBody()
	</main>
	<footer class="container" role="contentinfo">
		<ul class="list-inline">
			<li>&copy; @DateTime.Today.Year</li>
		</ul>
	</footer>
	@Bundles.RenderScripts()
	@Html.Action("Profiler", "Home", new { Area = "" }, true)
</body>
</html>