@model EmailBase

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>
		@if (IsSectionDefined("Title")) {
			@RenderSection("Title", false)
			<text> :: @Model.SiteTitle</text>
		} else {
			<text>@Model.SiteTitle</text>
		}
	</title>

</head>

<body>
	@RenderBody()
	<img src="@Url.Absolute(Url.Email().TrackView(Model.TrackingId.ToString("N")))" alt="" width="1" height="1" border="0" style="height: 1px !important; width: 1px !important; border-width: 0 !important; margin-top: 0 !important; margin-bottom: 0 !important; margin-right: 0 !important; margin-left: 0 !important; padding-top: 0 !important; padding-bottom: 0 !important; padding-right: 0 !important; padding-left: 0 !important;" />
</body>
</html>