@model Login

@{
	Bundles.Reference("~/Content/js/_lib/jquery.validate");
}
@section Title {
	Login
}

<h2>Login</h2>
	
@using(Html.BeginForm()) {
	@Html.DecodedValidationSummary(false)
	<div class="form-horizontal">
		<fieldset>
			@Html.HiddenFor(x => x.ReturnUrl)
			<div class="control-group">
				@Html.LabelFor(x => x.Username, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxWithMaxLengthFor(x => x.Username, new {tabindex = 1})
					@Html.ValidationMessageFor(x => x.Username)
				</div>
			</div>
			<div class="control-group">
				@Html.LabelFor(x => x.Password, new { @class = "control-label" })
				<div class="controls">
					@Html.PasswordWithMaxLengthFor(x => x.Password, new {tabindex = 1})
					@Html.ValidationMessageFor(x => x.Password)
				</div>
			</div>
			<div class="control-group">
				@Html.LabelFor(x => x.RememberMe, new { @class = "control-label" })
				<div class="controls">
					@Html.EditorFor(x => x.RememberMe)
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<a href="@Url.Account().ForgotPassword()">Forgot Your Password?</a>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Login</button>
			</div>
		</fieldset>
	</div>
}
