@model ResetPassword

@{
	Bundles.Reference("~/Content/js/_lib/jquery.validate");
}
@section Title {
	Reset Your Password
}

<h2>Reset Your Password</h2>

@using(Html.BeginForm()) {
	@Html.ValidationSummary(false)

	<div class="form-horizontal">
		<fieldset>
			<p>Use the form below to set a new password for your account.</p>
			<div class="control-group">
				@Html.LabelFor(x => x.Password, new { @class = "control-label" })
				<div class="controls">
					@Html.PasswordWithMaxLengthFor(x => x.Password)
					@Html.ValidationMessageFor(x => x.Password)
				</div>
			</div>
			<div class="control-group">
				@Html.LabelFor(x => x.PasswordConfirm, new { @class = "control-label" })
				<div class="controls">
					@Html.PasswordWithMaxLengthFor(x => x.PasswordConfirm)
					@Html.ValidationMessageFor(x => x.PasswordConfirm)
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Send</button>
			</div>
		</fieldset>
	</div>
}